:host {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form {
  min-width: 240px;
  width: 400px;
  max-width: 90dvw;
  display: flex;
  flex-direction: column;
  gap: 2rem;

  .form-controls {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
  }
}
